# Google Cloud Project
GCP_PROJECT_ID=kawan-umkm

# Firestore
FIRESTORE_COLLECTION=kawan-jobs

# Cloud Storage
GCS_BUCKET_NAME=kawan-uploads-<project-id>

# Pub/Sub
PUBSUB_TOPIC=kawan-jobs
PUBSUB_SUBSCRIPTION=kawan-jobs-sub

# AI Models (diisi AI Engineer — Fase 2)
GEMINI_MODEL_ID=gemini-1.5-flash
VERTEX_IMAGE_MODEL_ID=imagegeneration@006
